---
import Logo from "@/components/ui/Logo/Logo.astro";
import { Nav } from "@/reactComponents/Nav";

interface Props {
  lang: string;
  navItems: { key: string; label: string; href: string; active: boolean }[];
  loginLabel: string;
  downloadLabel: string;
}

const { lang, navItems, loginLabel, downloadLabel } = Astro.props;
const appPath = import.meta.env.PUBLIC_APP || "/app.apk";
const isApk = appPath.endsWith(".apk");
---

<header class="header-1">
  <div class="header-1__container">
    <div class="header-1__body">
      <Logo lang={lang} className="header-1__logo" />

      <Nav client:load navItems={navItems}>
        <a
          slot="actions"
          href="/go"
          rel="nofollow"
          class="header-1__button button"
          target="_blank"
        >
          {loginLabel}
        </a>
        <a
          slot="actions"
          href={appPath}
          rel="nofollow"
          class="header-1__button button"
          {...(isApk ? { download: `${import.meta.env.PUBLIC_BRAND}.apk` } : { target: "_blank" })}
        >
          {downloadLabel}
        </a>
      </Nav>
    </div>
  </div>
</header>
