---
import { defaultLng, languages, supportedLanguages } from "@/config/language";
import type { MetatagsI, PathT } from "./types";
import { getPathWithoutLanguage } from "@/lib/getPathWithoutLang";

const { lang } = Astro.params;
const { title, descr, keywords, image, imageAlt, metaCanons } =
  Astro.props as MetatagsI;

const domain = import.meta.env.PUBLIC_DOMAIN;
const fullurl = Astro.url.href;
const currentPath = getPathWithoutLanguage(
  Astro.url.pathname,
  supportedLanguages,
);
const normalizedPath = currentPath === "/" ? "" : currentPath;

let paths: PathT[] = [];

if (metaCanons) {
  const canonicalLang =
    metaCanons.canonical === "lng" ? lang : metaCanons.canonical;

  paths.push({
    type: "canonical",
    path: `${domain}/${canonicalLang}/${normalizedPath}`,
  });

  metaCanons.alternate.forEach((alt) => {
    paths.push({
      type: "alternate",
      lang: alt.hrefLang,
      path: `${domain}/${alt.urlLang}/${normalizedPath}`,
    });
  });
} else {
  paths = [
    {
      type: "canonical",
      path: `${domain}/${lang}/${normalizedPath}`,
    },
  ];

  languages.forEach((l) => {
    paths.push({
      type: "alternate",
      lang: l.code,
      path: `${domain}/${l.code}/${normalizedPath}`,
    });
  });

  paths.push({
    type: "alternate",
    path: `${domain}/${defaultLng}/${normalizedPath}`,
    lang: "x-default",
  });
}
---

<title>{title}</title>
<meta name="description" content={descr} />
<meta name="keywords" content={keywords} />
<meta name="author" content={import.meta.env.PUBLIC_BRAND} />
<meta name="robots" content="index, follow" />

{paths.map((link) => (
  <link rel={link.type} href={link.path} hreflang={link.lang} />
))}

<meta property="og:type" content="website" />
<meta property="og:url" content={fullurl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={descr} />
<meta property="og:site_name" content={import.meta.env.PUBLIC_BRAND} />
<meta property="og:locale" content={lang?.replace("-", "_") || "en"} />
<meta property="og:image" content={image ? `${domain}${image}` : `${domain}/og/default.jpg`} />

{image && (
  <>
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:alt" content={imageAlt || import.meta.env.PUBLIC_BRAND} />
  </>
)}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={descr} />
<meta name="twitter:image" content={image ? `${domain}${image}` : `${domain}/og/default.jpg`} />

{image && (
  <meta name="twitter:image:alt" content={imageAlt || import.meta.env.PUBLIC_BRAND} />
)}

<meta name="twitter:url" content={fullurl} />
