---
interface Props {
  downloadLabel?: string;
  loginLabel?: string;
}

const { downloadLabel = "DOWNLOAD", loginLabel = "LOGIN" } = Astro.props;
const appPath = import.meta.env.PUBLIC_APP || "/app.apk";
const refUrl = import.meta.env.PUBLIC_REF || "#";
const brandName = import.meta.env.PUBLIC_BRAND || "";
const isApk = appPath.endsWith(".apk");
---

<div class="wcFgypocOhsdgdX">
  <a
    href={appPath}
    class="button LzGMrweGNaCCJSd XWcVBPcnlRzZTfD"
    rel="nofollow"
    {...(isApk
      ? { download: `${brandName}.apk` }
      : { target: "_blank" })}
  >
    {downloadLabel} {brandName}
  </a>
  <a
    href={refUrl}
    class="button LzGMrweGNaCCJSd XWcVBPcnlRzZTfD"
    rel="nofollow"
    target="_blank"
  >
    {loginLabel} {brandName}
  </a>
</div>
